<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand Usuario-->
  <div class="sidebar-brand d-flex align-items-center mb-5 mt-5
          justify-content-center">
    <div class="sidebar-brand-icon mt-4">
      <img src="./../../../../assets/img/user_.jpg" class="img-profile rounded-circle" style="width: 70%" alt="">
    </div>
  </div>
  <p class="text-center text-white">Dowglas Maia</p>

  <li class="nav-item mt-4">
    <a class="nav-link" routerLinkActive="active" routerLink="/reports" aria-expanded="false">
      <i class="fas fa-chart-line"></i>
      <span class="hide-menu">Relatórios</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0 mb-2">

  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/entries" aria-expanded="false">
      <i class="fas fa-feather-alt"></i>
      <span class="hide-menu">Lançamento</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0 mb-2">

  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/categories" aria-expanded="false">
      <i class="fas fa-chart-pie"></i>
      <span class="hide-menu">Categorias</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0 mb-4">

</ul>