 <!--Migalha de Pão-->
 <app-bread-crumb
    [items]= "[{text: 'Categorias'}]"
 > </app-bread-crumb>

  <!-- HEADER -  Dinâmico-->
  <app-page-header
  page-title = "Categorias"
  button-text = "Nova Categoria"
  button-link = "new"
  button-class = "btn-warning"
  icon-class="fas fa-plus"
></app-page-header>



<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Categorias</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <!-- Categorias   - resources * declarado na baseResourcesListe-->
        <tr *ngFor="let category of resources">
            <td>
                <strong>{{category.name}}</strong><br>
                <small>{{category.description}}</small>
            </td>
            <!-- Botões-->
            <td>
                <a [routerLink]="[category.id, 'edit']" class="btn btn-outline-info mr-1
                    btn-sm"> Editar <i class="fas fa-edit"></i>
                </a>
                
                <button type="button" (click)="deleteResource(category)" class="btn
                    btn-outline-danger btn-sm">Delete<i class="fas fa-eraser"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>