<!--Migalha de Pão-->
<app-bread-crumb [items]="[{text: 'Lançamentos', link: '/entries'}, {text: pageTitle}]"> </app-bread-crumb>

<!-- HEADER -  Dinâmico-->
<app-page-header [page-title]="pageTitle" button-text="Voltar" button-link="/entries" button-class="btn-warning"
    icon-class="fas fa-angle-double-left"></app-page-header>

<!-- FORMULARIO -->
<form [formGroup]="resourceForm" (ngSubmit)="submitForm()">
    <div class="card">
        <div class="card-header">
            <label> Informações sobre o Lançamento</label>
        </div>

        <div class="card-body">

            <div class="form-row">

                <!--Type-->
                <div class="form-group col-2">
                    <label for="type">Tipo</label>
                    <select class="form-control" formControlName="type" name="type" id="type">
                        <!-- fazendo um Laço nas Opções e Definindo os Valores dinamicamente-->
                        <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
                    </select>

                    <!-- Msg de Validação-->
                    <app-form-field-error [form-control]="resourceForm.get('type')"></app-form-field-error>
                </div>

                <!--Name-->
                <div class="form-group col-md-5">
                    <label for="name">Lançamento</label>
                    <input type="email" class="form-control" id="name" formControlName="name">

                    <!-- Msg de Validação-->
                    <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>

                    <!-- Verificando Erros do campo
                    <pre>{{resourceForm.get('name').errors | json}}</pre>
                    -->
                </div>

                <!--Valor-->
                <div class="form-group col-md-3">
                    <label for="valor">Valor</label>
                    <div class="input-group">
                        <!-- Colocando o Simbulo da Moeda R$, no Campo-->
                        <div class="input-prepend">
                            <div class="input-group-text"> R$ </div>
                        </div>
                        <!-- define a mascara do campo moeda-->
                        <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" type="text"
                            class="form-control text-right" id="valor" formControlName="amount">
                    </div>
                    <!-- Msg de Validação-->
                    <app-form-field-error [form-control]="resourceForm.get('amount')"></app-form-field-error>

                </div>

                <!--Data-->
                <div class="form-group col-md-2">
                    <label for="date">Data</label>

                    <!--   <input type="date" name="date" id="date" formControlName="date" class="form-control">
                   -->
                    <p-calendar id="date" formControlName="date" inputStyleClass="form-control" dateFormat="dd/mm/yy"
                        dataType="string" [locale]="ptBR" [showButtonBar]=true>
                    </p-calendar>
                    <!-- Msg de Validação-->
                    <app-form-field-error [form-control]="resourceForm.get('date')"></app-form-field-error>

                </div>

            </div>

            <div class="form-row">
                <!--Pago-->
                <div class="form-group col-md-2">
                    <label for="paid">Pago</label><br />
                    <!-- Conf o active dinamicamente com o capo que estiver marcado - [class.active]-->
                    <div class="btn-group">
                        <label [class.active]="resourceForm.get('paid').value == true"
                            (click)="resourceForm.get('paid').setValue(true)" class="btn btn-outline-info">
                            Pago
                        </label>

                        <label [class.active]="resourceForm.get('paid').value == false"
                            (click)="resourceForm.get('paid').setValue(false)" class="btn btn-outline-info">
                            Pendente
                        </label>
                    </div>

                </div>

                <!--Descrição-->
                <div class="form-group col-md-8">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                </div>

                <!--Categoria-->
                <div class="form-group col-2">
                    <label for="category">Categoria</label>
                    <select class="form-control" formControlName="categoryId" name="categoryId" id="category">
                        <option *ngFor="let obj of categories" [value]="obj.id">{{obj.name}}</option>

                    </select>

                </div>

            </div>
        </div>
    </div>

    <!-- Error do Servidor / passo a variavel que existe no BaseResourForm **serverErrorMessages**-->
   <app-server-error-messagens [serve-error-messages]="serverErrorMessages" ></app-server-error-messagens>

    <button type="submit" [disabled]="submittingForm || resourceForm.invalid"
        class="btn btn-primary btn-lg mt-2 float-right">
        <i class="fas fa-save"></i> Salvar
    </button>

</form>

<!--
<pre>
    {{resourceForm.value | json}}
</pre>
-->