<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-header-nav></app-header-nav>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

      <!-- Nave Menu -->
      <app-nav></app-nav>

      <!-- Begin Page Content -->
      <div class="container-fluid pb-5 mb-2">

        <router-outlet></router-outlet>

      </div>
      <!-- End of Main Content -->

      <!-- Footer  -->
      <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->

  </div>

</div>