<div class="container-fluid">
 <!--Migalha de Pão-->
 <app-bread-crumb
    [items]= "[{text: 'Lançamentos'}]"
 > </app-bread-crumb>

   <!-- HEADER -  Dinâmico-->
 <app-page-header
  page-title = "Lançamentos"
  button-text = "Novo Lançamento"
  button-link = "new"
  button-class = "btn-warning"
  icon-class="fas fa-plus"
 ></app-page-header>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Lançamento</th>
            <th>Categorias</th>
            <th class="text-right">Valor</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>

        <!-- Categorias-->
        <tr *ngFor="let entry of resources">
            <td>
                <strong>{{entry.name}}</strong><br>
                <strong class="text-success">{{entry.date}}</strong><br>
                <small *ngIf="entry.description">{{entry.description}}</small>
            </td>
            <td>
                <strong>{{entry.category.name}}</strong><br>
            </td>
            <td class="text-right">
                <strong [class.text-success]="entry.type == 'revenue'" [class.text-danger]="entry.type == 'expense'">
                    {{entry.amount | currency:'BRL':true}}
                    <br />
                    <span class="badge badge-light">{{entry.paidText}}</span>
                </strong>
            </td>

            <!-- Ações-->
            <td class="text-center">
                <a [routerLink]="[entry.id, 'edit']" class="btn btn-outline-info mr-1 btn-sm">
                    Editar
                    <i class="fas fa-edit"></i>
                </a>

                <button type="button" (click)="deleteResource(entry)" class="btn btn-outline-danger btn-sm">
                    Delete
                    <i class="fas fa-eraser"></i>
                </button>
            </td>
        </tr>


    </tbody>
</table>

</div>