/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico|Philosopher|Satisfy&display=swap');

h3 {
    font-family: 'Satisfy', cursive;
    color      : rgba(27, 48, 44, 0.904);
}

 h5 {
    font-family: 'Satisfy', cursive;
}

h1,h2, h4,h6 {
    font-family: 'Philosopher', sans-serif;
}

.ui-autocomplete {
    width: 100% !important;
}

.btn {
    font-family: 'Philosopher', sans-serif;
}