<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4
    static-top shadow ">
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Divisor usuario logado-->
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item mr-4">
            <a class="nav-link" href="#">
                Logout
                <i class="fas fa-power-off ml-2"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->
